<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Picture view</title>
</head>
<body>
<p>
  <a href="/pictures">
    Back to list picture
  </a>
</p>
<form th:object="${picture}" th:action="@{/view-picture}">
<table border="1">
  <tr>
    <th>ID</th>
    <th>Code</th>
    <th>Height</th>
    <th>Wide</th>
    <th>Material</th>
    <th>Description</th>
    <th>Price</th>
    <th>Catalog</th>
    <th>Image</th>
  </tr>
  <tr>
    <td th:text="${picture.id}"></td>
    <td th:text="${picture.code}"></td>
    <td th:text="${picture.height}"></td>
    <td th:text="${picture.wide}"></td>
    <td th:text="${picture.material}"></td>
    <td th:text="${picture.description}"></td>
    <td th:text="${picture.price}"></td>
    <td th:if="${picture.catalog}" th:text="${picture.catalog.name}"></td>
    <td th:unless="${picture.catalog}"></td>
    <td><img width="300" height="170" th:src="@{'/image/' + ${picture.image}}" alt=""></td>
  </tr>
</table>
</form>
</body>
</html>